<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: aquamarine;">
  <a class="navbar-brand" href="/"><i class="fas fa-home fa-fw"></i> Funny Movies</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <p class="navbar-text float-right">
      <% if user_signed_in? %>
        Welcome <strong><%= current_user.email %></strong>.
        <%= link_to 'Share a movie', new_movie_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-outline-primary my-2 my-sm-0'}  %>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-outline-primary my-2 my-sm-0' %>
        <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'btn btn-outline-danger my-2 my-sm-0' %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-outline-success my-2 my-sm-0' %>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-outline-primary my-2 my-sm-0' %>
      <% end %>
    </p>
  </div>
</nav>
